@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500&display=swap');

@font-face {
    font-family: 'Hemmet';
    src: url(font/Hemmet.ttf);
}

:root {
    --fontbase: "Jost", Sans-serif;
    --cinza: #d4d4d4;
    --cinza_escuro: #e0e0e023;
    --branco: white;
    --red_orange: #FF521B; 
    --cor-logomarca: #892C43;
    --cinza_leve: #d4d4d409;
}

* {
    box-sizing: border-box;
    font-family: var(--fontbase);
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    padding: 0px;
    margin: auto;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--cinza);
    box-shadow: 0px 1px 2px var(--cinza);
    background-color: var(--cinza_leve);
}

main {
    padding: 0px;
    margin: auto; 
}

section.box-responsive {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: auto;
}


.conteiner {
    background-color: var(--cinza_escuro);
    font-size: 12px;
    display: inline-block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--cinza);
    padding: 5px 36px 5px 0px;
}

#contato {
    float: right;
    padding-left: 18px;
}

#gmail {
    float: right;
    padding-right: 18px;
    border-right: 1px solid var(--cinza);
}

.conteiner_lupa_logo_midias {
    padding: 5px 30px;
    margin: auto;
    display: flex;
}

#vazio {
    padding: 0px;
    margin: auto;
    float: left;
}

.collection {
    display: flex;
    padding: 0px;
    margin: auto;
    list-style: none;
}

ul.collection > li {
    padding: 5px;
    margin: auto;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
}

li > a {
    text-decoration: none;
    color: black;
}

li > a:hover {
    color: var(--cor-logomarca);
}

#mouse:hover {
    transition: all 1s;
    color: var(--cor-logomarca);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid var(--cinza);
    border-radius: 5px;
}

#logomarca {
    padding: 0px;
    margin: auto;
}

#conteiner_midias {
    display: flex;
    padding: 0px;
    margin: auto;
}

.midias {
    padding-right: 10px;
    float: right;
    list-style: none;
}

#mail {
    padding-right: 0px;
}


.conteiner-imagens {
    padding: auto;
    margin: auto;
    height: 100%;
}


div.gallery img {
    width: 100%;
    height: auto;
}


/* ------------------------------------------------------------------------- */
.responsive {
    margin: 5px;
    padding: 5px;
    float: left;
    width: 22%;

}

.responsive:hover {
    border: 1px solid var(--cinza);
    padding: 5px;
    border-radius: 10px;
    transition: all 0.7s;
    background-color: var(--cinza_leve);
    box-shadow: 1px 1px 2px var(--cinza);
    color: var(--cor-logomarca);
}

.imagem {
    transform: scale(0.9);
}

.imagem:hover {
    border-radius: 5px;
    transform: scale(1);
    transition: 0.9s ease-in-out;
}

.box-descrição {
    margin: auto;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

#font_logo {
    margin: auto;
    font-family: Hemmet;
    font-weight: 200;
    font-size: 24px;
    color: var(--cor-logomarca);
}

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 45%;
        margin: 6px 0;
        margin: 2px
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
        margin: 1px
    }
}
/* ------------------------------------------------------------------------- */

/* footer {
    padding: auto;
    margin: auto;
    max-width: 1500px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;
} */